@font-face {
  font-family: "Al-Jazeera-Arabic-Bold";
  src: url("../fonts/Al-Jazeera-Arabic-Bold.ttf");
}

:root {
  --primaryColor: #E099B4;
  --secondaryColor: #82305b;
  --lightColor: white;
  --warning: #FF9F44;
  --darkgray: #6E6B7B;
  --lightgray: #D8D6DE;
  --darkblue: #2F3C72;
  --darkgreen: #006C10;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  font-family: "Al-Jazeera-Arabic-Bold";
  font-size: 16px;
}

body {
  color: var(--darkblue);
}

header {
  height: 60px;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-main {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.div-main-left, .div-main-right {
  flex: 1;
  padding: 20px;
  color: var(--darkblue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  direction: rtl;
}

.div-main-right h3, .div-main-left h3 {
  font-size: 110%;
}

.div-main-left--title {
  color: var(--primaryColor);
}

.div-main-left--problem {
  display: flex;
  gap: 10px; 
  align-items: center; 
  justify-content: center;
}

.div-main-left--problem-text, .div-main-right--solution-text {
  width: 190px;
}

.div-main-left--problem-icon {
  margin-top: 4px;
  color: var(--primaryColor);
  font-size: 18px;
}

.div-main-right--title {
  color: var(--darkgreen);
}

.div-main-right--solution {
  display: flex; 
  gap: 10px; 
  align-items: center; 
  justify-content: center;
}

.div-main-right--solution-icon {
  margin-top: 4px; 
  color: var(--darkgreen); 
  font-size: 18px
}

.div-main-img {
  width: 100%;
  height: 100%;
  flex: 2;
  border-bottom: solid 1px var(--primaryColor);
}

.div-main-img--mobile-image {
  width: 100%;
  height: 100%;
  display: none;
}

.div-main-img--web-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--lightColor);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}


.social-medias {
  display: flex;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 10px;
}

.customer-infos {
  flex-grow: 2;
  text-align: right;
}

.product-price-rating {
  display: flex;
  direction: rtl;
  gap: 10px;
  margin-top: 2px;
}

.product-details-price {
  display: flex;
  direction: rtl;
  gap: 10px;
  align-items: center;
}

.product-details-rating {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 10px;
}

.vertical-line {
  border-left: 1.3px solid var(--lightgray);
  height: 30px;
}

.stars {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: var(--warning);
}

.stars span {
  margin-right: 1px;
}

.old-price {
  text-decoration: line-through;
}

.new-price {
  color: var(--primaryColor);
}

.inputs-1, .inputs-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: 16px;
}

input {
  width: 100%;
  min-height: 36px;
  padding: 12px 20px;
  font-size: 18px;
  direction: rtl;
  border: none;
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
}

input::placeholder {
  color: var(--darkblue);
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.submit-button {
  width: 100%;
  min-height: 36px;
  margin-top: 10px;
  border: 1px solid var(--primaryColor);
  background: var(--lightColor); 
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  animation: moveButton 0.5s infinite alternate;
  color: var(--primaryColor);
}

@keyframes moveButton {
  from {
      transform: translateX(-10px);
  }
  to {
      transform: translateX(10px);
  }
}

.submit-button:hover {
  background: var(--primaryColor);
  color: var(--lightColor);
  border: none;
}

.advantages-parent-div-title {
  display: flex; 
  justify-content: center; 
  margin-top: 15px;
}

.advantages-child-div-title {
  border-bottom: 2px solid var(--primaryColor);  
  display: inline-block
}

.advantages-child-div-title h3 {
  margin-bottom: -3px;
}


.advantages {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
  gap: 10px;
}

.advantages-item {
  text-align: center;
}

.advantages-img {
  width: 90px;
}

.advantages-title {
  font-size: 18px;
  color: var(--secondaryColor);
}

.advantages-text {
  color: var(--primaryColor);
  font-size: 14px;
}

.copyright {
  background: var(--primaryColor);
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  color: var(--lightColor);
}

.whatsapp-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

/* Media Query for Small Devices */
@media (max-width: 768px) {
  .div-main {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }

  .div-main-left {
    order: 2;
  }

  .div-main-right {
    order: 2;
  }

  .div-main-right h3, .div-main-left h3 {
    font-size: 98%;
  }

  .div-main-img {
    order: 1;
  }

  .div-main-img--web-image {
    display: none;
  }

  .div-main-img--mobile-image {
    display: block;
  }

  .text-overlay {
    top: 20%;
  }

  .content-footer {
    flex-direction: column;
    text-align: center;
  }
  
  .left, .middle {
    flex-basis: auto;
    margin-bottom: 20px;
  }
  
  .inputs-1, .inputs-2 {
    flex-direction: column;
    margin-top: 10px;
  }

  .copyright {
    flex-direction: column;
    text-align: center;
  }

  .copyright-text-1 {
    text-align: center;
  }

  .product-details {
    flex-direction: column;
    text-align: center;
  }

  .customer-infos {
    text-align: center;
    order: 2;
  }

  .product-price-rating {
    flex-direction: column;
    gap: 0;
  }
  .product-name, .form-title, .contact-form {
    text-align: right;
  }

  .advantages {
    flex-direction: column;
  }

  .advantages-item {
    margin-bottom: 12px;
  }

  .advantages-img {
    width: 80px;
  }
}
